<li class="external-link"><a href="https://github.com/stimms"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=6643701"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/stimms"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a target="_blank" href="mailto:stimms@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<hr/>
<h4>Books</h4>
<li class="external-link"><a target="_blank" href="https://leanpub.com/evolvinglegacyaspnetapplications"><i class="fa fa-book"></i> Evolving Legacy ASP.net Applications</a></li>
<li class="external-link"><a target="_blank" href="http://www.amazon.ca/Mastering-JavaScript-Design-Patterns-Simon/dp/1783987987/ref=sr_1_1?ie=UTF8&qid=1420923161&sr=8-1&keywords=simon+timms"><i class="fa fa-book"></i> Mastering JavaScript Design Patterns</a></li>
<li class="external-link"><a target="_blank" href="http://www.amazon.ca/Social-Data-Visualization-HTML5-JavaScript-ebook/dp/B00FF8OK0S/ref=sr_1_2?ie=UTF8&qid=1420923161&sr=8-2&keywords=simon+timms"><i class="fa fa-book"></i> Social Data Visualization with HTML5 and JavaScript</a></li>
