<li class="external-link"><a href="https://github.com/stimms"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=6643701"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/stimms"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a target="_blank" href="mailto:stimms@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<!--
<li class="external-link"><a href="http://www.last.fm/user/Lucky_7s">Last.fm</a></li>
<li class="external-link"><a href="http://steamcommunity.com/id/alllucky7s">Steam</a></li>
-->
